@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.7);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.connect-container {
    position: relative;
    width: 300px;
    height: 300px;
}

.connect-button {
    background-color: var(--background-color);
    border: solid 2px var(--primary-color);
    margin: 8vh 0;
    width: 160px;
    height: 50px;
    border-radius: 50px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 900;
    font-size: 15px;

    animation: fadeInButton 0.5s ease-in-out forwards; /* Fade-in effect */
    display: inline-block;
    opacity: 0; /* Start hidden */
}

.social-icons {
    width: 100px;
    height: 100px;
    gap: 10px;
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.social-icons a,
.social-icons .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: rotate(0deg);
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: calc(var(--delay) * 0.2s);
}

.social-icons a img,
.social-icons .close-button img {
    width: 40px;
    height: 40px;
}


.social-icons a.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
    animation-delay: calc(var(--delay) * 0.1s);
}

/* Top center */
.social-icons a:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
}

/* Left center */
.social-icons a:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

/* Center */
.social-icons .close-button {
    grid-column: 2;
    grid-row: 2;

}


/* Bottom center */
.social-icons a:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

.social-icons a:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
    /* Bottom center */
}

