body {
    font-weight: 200;
    background: #1f2128;
    font-family: "JetBrains Mono", monospace;
}
table {
    border-collapse: collapse; 
    border: 1px #000000 solid;

    margin: auto;
}
table td {
    border: 1px #fff solid;
    height: 40px;
    width: 40px;
    background: #1f2128;
}

h1 {
    font-size: calc(1em + 3vw);
    text-align: center;
    color: #fff;
}
.button img {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-left: 6px;
}
.button {
    align-items: center;
    appearance: none;
    background-color: #e8e8e9;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #bbbcbe 0 -3px 0 inset;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
  
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    margin: auto;
}


.button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #bbbcbe 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #e8e8e9 0 3px 7px inset;
    transform: translateY(2px);
}


.button-container {
    width: max-content;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
    /* Space between buttons */
}